<div class="contact" id="contact">
    <div class="global-container">
        <div class="contact__wrapper">
            <div>
                <p class="contact__title">Потрібен надійний постачальник полімерних матеріалів?</p>
                <p class="contact__title">Зв'яжіться з нами і ми вам із цим допоможемо</p>

            </div>
            <div class="contact__contacts">
                <a href="#" class="contact__link">+380966948080</a>
                <a href="#" class="contact__link">+380960687756</a>
                <a href="#" class="contact__link">+380966948000</a>
            </div>
        </div>
    </div>
</div>