<section class="product-types">
  <div class="global-container">
    <p class="product-types__title">Типи продукції</p>
    <div class="product-types__wrapper">
      <div class="product-type__row">
        <div class="product-type">
          <p class="product-type__title">Product 1</p>
        </div>
        <div class="product-type">
          <p class="product-type__title">Product 1</p>
        </div>
      </div>

      <div class="product-type">
        <p class="product-type__title">Product 1</p>
      </div>
      <div class="product-type__row">
        <div class="product-type">
          <p class="product-type__title">Product 1</p>
        </div>
        <div class="product-type">
          <p class="product-type__title">Product 1</p>
        </div>
      </div>
    </div>
  </div>
</section>
