<section class="who">
  <div class="global-container">
    <div class="who__wrapper block">
      <h1 class="who__title">Енергопласт</h1>
      <h4 class="who__subtitle">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae omnis
        hic deserunt iusto, laborum nihil laboriosam voluptates dicta culpa,
        eveniet assumenda sunt quam libero et soluta numquam iure veritatis
        accusamus?
      </h4>
      <a href="#contact" class="default-btn">
        <p class="default-btn__text">Зв`язатися</p>
      </a>
    </div>
  </div>
</section>
