<section class="why">
  <div class="global-container">
    <p class="why__title">Чому обрати саме нас?</p>
    <div class="why__wrapper">
      <ul class="why__list">
        <div class="why__list-block">
          <li class="why__list--item">
            <div class="why__card why-card block">
              <img
                src="https://st2.depositphotos.com/1431107/5815/v/450/depositphotos_58155325-stock-illustration-quality-stamp.jpg"
                alt=""
                class="why-card__img"
              />
              <p class="why-card__title">Card content</p>
              <p class="why-card__description">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Voluptas quidem omnis voluptatibus quia magnam ut aspernatur.
                Porro dolor, consectetur corporis eligendi,
              </p>
            </div>
          </li>
          <li class="why__list--item">
            <div class="why__card why-card block">
              <img
                src="https://st2.depositphotos.com/1431107/5815/v/450/depositphotos_58155325-stock-illustration-quality-stamp.jpg"
                alt=""
                class="why-card__img"
              />
              <p class="why-card__title">Card content</p>
              <p class="why-card__description">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Voluptas quidem omnis voluptatibus quia magnam ut aspernatur.
                Porro dolor, consectetur corporis eligendi,
              </p>
            </div>
          </li>
        </div>
        <div class="why__list-block">
          <li class="why__list--item">
            <div class="why__card why-card block">
              <img
                src="https://st2.depositphotos.com/1431107/5815/v/450/depositphotos_58155325-stock-illustration-quality-stamp.jpg"
                alt=""
                class="why-card__img"
              />
              <p class="why-card__title">Card content</p>
              <p class="why-card__description">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Voluptas quidem omnis voluptatibus quia magnam ut aspernatur.
                Porro dolor, consectetur corporis eligendi,
              </p>
            </div>
          </li>
          <li class="why__list--item">
            <div class="why__card why-card block">
              <img
                src="https://st2.depositphotos.com/1431107/5815/v/450/depositphotos_58155325-stock-illustration-quality-stamp.jpg"
                alt=""
                class="why-card__img"
              />
              <p class="why-card__title">Card content</p>
              <p class="why-card__description">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                Voluptas quidem omnis voluptatibus quia magnam ut aspernatur.
                Porro dolor, consectetur corporis eligendi,
              </p>
            </div>
          </li>
        </div>
      </ul>
    </div>
  </div>
</section>
