<footer class="footer">
    <div class="global-container">
        <div class="footer__wrapper">
            <ul class="footer__list footer-list">
                <li class="footer-list__item footer-item">
                    <p class="footer-item__title">
                        VaccineQu
                    </p>
                    <p class="footer-item__text">
                        Combined with a handful of model sentence 
                        structures,  generate always free from repetition 
                        injected chunks as necessary.
                    </p>
                </li>
                <li class="footer-list__item footer-item">
                    <p class="footer-item__title">
                        Menu
                    </p>
                    <a href="#" class="footer-item__link">Home</a>
                    <a href="#" class="footer-item__link">Schedule</a>
                    <a href="#" class="footer-item__link">Quota</a>
                    <a href="#" class="footer-item__link">Information</a>
                </li>
                <li class="footer-list__item footer-item">
                    <p class="footer-item__title">
                        Vaccine Type
                    </p>
                    <a href="#" class="footer-item__link">Sinovac</a>
                    <a href="#" class="footer-item__link">Astarzon</a>
                    <a href="#" class="footer-item__link">Sinopahm</a>
                </li>
                <li class="footer-list__item footer-item">
                    <p class="footer-item__title">
                        Emergency Contact
                    </p>
                    <a href="#" class="footer-item__link">Whatsap</a>
                    <a href="#" class="footer-item__link">Email</a>
                    <a href="#" class="footer-item__link">Instagram</a>
                    <a href="#" class="footer-item__link">Telefon Kantor</a>
                </li>
            </ul>
        </div>
    </div>
</footer>