.products-list{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    &__list{
        display: flex;
        flex-direction: column;
        flex: 1;
        gap: 10px;
        width: min(800px, 100%);
    }
    &__item{
        background-color: #d6d6d6;
        padding: 20px;
        border-radius: 30px;
        max-width: 800px;
        cursor: pointer;
        transition: .3s;
        &:hover{
            background-color: #d6d6d677;
            transition: .3s;
        }
    }
    &__link{
        color: #09143c;

    }
    &__title{
        font-size: 1.6rem;
        margin: 30px 0;
        text-align: center;
        color: #09143c;
    }
}

.pagination {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    &__link{
        background-color: #d6d6d6;
        display: block;
        padding: 10px;
        border-radius: 10px;
        color: #09143c;
        &-active{
            background-color: #09143c;
            color: #d6d6d6
        }
    }
}

@media screen and (max-width: 768px) {
    .pagination{
        gap: 10px;
    }
}