.contact{
    
    &__wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 30px;
        border-radius: 30px;
        background-color: #cccccc;
        min-height: 200px;
        margin-top: 20px;
        padding: 0 70px;
    }
    &__title{
        color:  #001F29;
        font-size: 1.5rem;
    }
    &__contacts{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    &__link{
        text-align: right;
        color:  #001F29;
        transition: .4s;
        &:hover{
            color: #F75532;
            transition: .4s;
        }

    }
}

@media screen and (max-width: 768px) {
    .contact{
        &__wrapper{
            padding: 20px;
            flex-wrap: wrap;

        }
        &__title{
            text-align: center;
        }
        &__link{
            text-align: center;
        }
        &__contacts{
            width: 100%;
        }
    }
}