@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&family=Raleway:wght@700&family=Roboto:wght@400;700&family=Ubuntu:wght@500&display=swap');
@import 'global/*.scss';
@import '**/_*.scss';
@import '../components/**/*.scss';


html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
}

body {
    flex: 1;
}

main {
    flex: 1;
    padding-top: 80px;
    display: flex;
    flex-direction: column;
}
a{
    text-decoration: none;
}

ul{
    padding-block-start: 0;
    margin-block-start: 0;
}

ul li{
    list-style: none!important;
}
table {
    width: 80%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}
th {
    background-color: #007BFF;
    color: white;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}

*{
    font-family: Ubuntu;
    margin: 0;
    padding: 0;
}

.block{
    border-radius: 30px;
    padding: 20px;
}
.global-container{
    width: min(91.25rem, 100%);
    padding: 20px;
    margin: 0 auto;
}

.global-logo--text {
    color: #09143c;
    font-family: Ubuntu;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.default-btn{
    border-radius: 0.625rem;
    background: #09143c;
    padding: 1rem 1.81rem;
    width: min(300px, 100%);
    border: 1px solid transparent;
    cursor: pointer;
    transition: .4s;
    &__text{
        color: #fff;
        text-align: center;
    }
    &:hover{
        background-color: transparent;
        border: 1px solid #09143c;
        transition: .4s;
    }
    &:hover &__text{
        color: #09143c;
    }
}


.go-back{
    color: #09143c;
    transition: .3s;
    &:hover{
        color: #F75532;
        transition: .3s;
    }
}

.text-left{
    display: flex;
    align-self: start;
}
body.open-burger{
    overflow: hidden;
}