@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@600&family=Raleway:wght@700&family=Roboto:wght@400;700&family=Ubuntu:wght@500&display=swap');
@import 'global/*.scss';
@import '**/_*.scss';
@import '../components/**/*.scss';


main{
    padding-top: 80px;
}
a{
    text-decoration: none;
}

ul{
    padding-block-start: 0;
    margin-block-start: 0;
}

ul li{
    list-style: none!important;
}

*{
    font-family: Ubuntu;
    margin: 0;
    padding: 0;
}

.block{
    border-radius: 30px;
    padding: 20px;
}
.global-container{
    width: min(91.25rem, 100%);
    padding: 20px;
    margin: 0 auto;
}

.global-logo--text {
    color: #09143c;
    font-family: Ubuntu;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.default-btn{
    border-radius: 0.625rem;
    background: #09143c;
    padding: 1rem 1.81rem;
    width: min(300px, 100%);
    border: 1px solid transparent;
    cursor: pointer;
    transition: .4s;
    &__text{
        color: #fff;
        text-align: center;
    }
    &:hover{
        background-color: transparent;
        border: 1px solid #09143c;
        transition: .4s;
    }
    &:hover &__text{
        color: #09143c;
    }
}

body.open-burger{
    overflow: hidden;
}